@use './variables/colors' as *;
@use './typography.scss';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{"" + $color}-#{$shade}: #{$value};
    }
  }
}
