@use './colors.scss';
@use './typography.scss';
@use './animations.scss';
html,
body {
  font-size: 10px;
}

body {
  background-color: var(--color-purple-800);
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
