@use './variables/typography' as *;

@each $family, $value in $font-family {
  .font-#{$family} {
    font-family: $value;
  }
}

@each $size, $value in $font-sizes {
  .font-size-#{$size} {
    font-size: $value;
  }
}

@each $spacing, $value in $letter-spacings {
  .letter-spacing-#{$spacing} {
    letter-spacing: $value;
  }
}

@each $line-height, $value in $line-height {
  .line-height-#{$line-height} {
    line-height: $value;
  }
}

@each $weight, $value in $font-weights {
  .font-weight-#{$weight} {
    font-weight: $value;
  }
}

.ebh {
  @extend .font-weight-800;
  @extend .font-montserratk;
  color: var(--color-white-600);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ebh1 {
  @extend .ebh;
  @extend .font-size-60;
  @extend .line-height-1;
  @extend .letter-spacing-0\.4;
}
.ebh2 {
  @extend .ebh;
  @extend .font-size-18;
  @extend .line-height-1;
  @extend .letter-spacing-0\.4;
}
.ebh3 {
  @extend .ebh;
  @extend .font-size-16;
  @extend .line-height-1;
  @extend .letter-spacing-0\.4;
}
.ebh4 {
  @extend .ebh;
  @extend .font-size-14;
  @extend .line-height-1;
  @extend .letter-spacing-0\.4;
}
.ebh5 {
  @extend .ebh;
  @extend .font-size-12;
  @extend .line-height-1;
  @extend .letter-spacing-0\.4;
}

.bbh {
  @extend .font-weight-600;
  @extend .font-noto-sans;
  color: var(--color-white-600);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bbh2 {
  @extend .bbh;
  @extend .font-size-18;
  @extend .letter-spacing-0;
  @extend .line-height-1\.2;
}
.bbh3 {
  @extend .bbh;
  @extend .font-size-16;
  @extend .letter-spacing-0;
  @extend .line-height-1\.2;
}
.bbh4 {
  @extend .bbh;
  @extend .font-size-14;
  @extend .letter-spacing-0;
  @extend .line-height-1\.2;
}
.bh {
  @extend .font-weight-500;
  @extend .font-noto-sans;
  color: var(--color-white-600);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bh2 {
  @extend .bh;
  @extend .font-size-18;
  @extend .letter-spacing-0;
  @extend .line-height-1\.2;
}
.bh3 {
  @extend .bh;
  @extend .font-size-16;
  @extend .letter-spacing-0;
  @extend .line-height-1\.2;
}
.bh4 {
  @extend .bh;
  @extend .font-size-14;
  @extend .letter-spacing-0;
  @extend .line-height-1\.2;
}

.h {
  @extend .font-weight-300;
  @extend .font-noto-sans;
  color: var(--color-white-600);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h2 {
  @extend .h;
  @extend .font-size-18;
  @extend .letter-spacing-0;
  @extend .line-height-1\.2;
}
.h3 {
  @extend .h;
  @extend .font-size-16;
  @extend .letter-spacing-0;
  @extend .line-height-1\.2;
}
.h4 {
  @extend .h;
  @extend .font-size-14;
  @extend .letter-spacing-0;
  @extend .line-height-1\.2;
}
