$colors: (
  blue: (
    500: #0000ff
  ),
  purple: (
    400: #bf74fe,
    500: #800080,
    600: #2d0864,
    700: #2a2044,
    800: #180c36
  ),
  white: (
    500: #ffffff,
    600: #fefefe,
    900: #898397
  )
);
